@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
	--bgColor: #660099;
	--moduleColor: #dadae8;
	--bgColorLogin: #ffffff;
	--moduleColorLogin: #660099;
	--listItemColor: #022C53;
	--moduleRadius: 15px;
	--modulepPadding: 20px;
}

@mixin pageBasis{
	background-color: var(--moduleColor);
	margin: 20px;
	padding: 20px;
	width: calc(93vw - 40px);
	height: calc(100vh - 80px);
	border-radius: var(--moduleRadius);
	align-self: center;
	justify-self: center;
	align-items: center;
	overflow-y: scroll;
	overflow-x: hidden;
}

.mainList{
	background-color: white;
	width: 75%;
}

.Root{
	display: flex;
	flex-direction: row;
	align-items: center;
}

body{
	margin: 0px;
	background-color: var(--bgColor);
	color: black;
	font-family: "Poppins", sans-serif;
	width: 100vw;
	height: 100vh;
}

.LatPanel{
	background-color: #ffffff;	
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(7vw - 40px);
	height: calc(100vh - 40px);
	padding: 0 10px;	
	margin: 20px 0px 20px 20px;
	border-radius: var(--moduleRadius);
	transition: all ease .4s;

	&:hover{
		width: calc(18vw - 40px);
		height: calc(100vh - 40px);
	}

	&:hover .invisible{
		display: block;
	}

	.invisible{
		display: none;
		transition: all ease .4s;
	}

	&:hover .Button{
		width: 90%;
	}

	&:hover .Page{
		width: calc(82vw - 40px);
	}

	&:hover .luzLogo{
		transform: scale(.3);
	}

	&:hover .facoLogo{
		transform: scale(.8);
		top: 0;
	}

	Button{
		background-color: #d9d9d9;
		color: black;
		border-radius: 5px;
		margin: 1vh;
		width: 90%;
		justify-content: left;
		width: 50px;
		transition: all ease .4s;
	}
	
	
	.info{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 3px;
		justify-content: space-evenly;
		height: calc(15% - ((15px / 2)/2));

		.luzLogo{
			width: 80%;
			transition: all ease .4s;
		}

		h1{
			font-size: 20px;
			position: relative;
			right: 25%;
		}
	}
	
	.buttons{
		height: calc(68% - ((15px / 2)/2));
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.facoLogo{
		width: 120%;
		transition: all ease .4s;
		position: relative;
		top: 10%;
	}
}

.ErrorPage{
	background-color: tomato;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h3{
		margin: 0px;
		transition: all .3s;
		&:hover{
			cursor: pointer;
			transform: scale(1.1);
			text-shadow: var(--shadow);
		}
	}
}

.Pagination{
	background-color: var(--moduleColorLogin);
	border-radius: var(--moduleRadius);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 0px 10px;
	color: white;
}

.Login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-image: url(./assets/fondo.png);
	background-size: cover;

	.loginForm{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--bgColor);
		color: white;
		border-radius: var(--moduleRadius);
		padding: var(--modulepPadding);
		width: 35vw;
		height: 55vh;

		h2{margin: 0 10px 10px 10px;}
		h1{margin: 0 10px 20px 10px}

		.logos{
			display: flex;
			align-items: center;
			gap: 35px;

			img{width: 90px;}

			.logofaco{
				background-color: white;
				width: 150px;
				border-radius: 5px;
			}
		}
	}
}

.ErrorPage{
	background-color: tomato;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h3{
		margin: 0px;
		transition: all .3s;
		&:hover{
			cursor: pointer;
			transform: scale(1.1);
			text-shadow: var(--shadow);
		}
	}
}

.HomePage{
	@include pageBasis;
	background-image: url(./assets/fondo.png);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--bgColor);
	// font-size: 3rem;
	background-size: cover;
	color: white;
	padding: 20px 0;
	scrollbar-width: none;

	.BackgroundPage{
		background-color: var(--bgColor);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h3{
		width: 40%;
	}

	h1{
		font-size: 50px;
		margin: 0px
	}

	h4{
		color: black;
		position: absolute;
		bottom: 1vh;
	}
}

.Sections{
	@include pageBasis;
	display: flex;
	flex-direction: column;
	align-items: center;
	scrollbar-width: none;

	h1{margin: 0;}

	.listContainer{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 25px;
		justify-content: center;

		.listItem{
			background-color: var(--moduleColor);
			border: 3px solid white;
			width: 250px;
			height: 250px;
			border-radius: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all ease .2s;

			h2{font-size: 40px;}

			&:hover{
				transform: scale(1.1);
				cursor: pointer;
			}
		}
	}
}

.Section{
	@include pageBasis;
	display: flex;
	flex-direction: column;
	align-items: center;

	.selectors{
		background-color: tomato;
		width: 100%
	}
}

.Asignature{
	@include pageBasis;
	h1{margin-bottom: 0; margin-top: 5px;}
	h2{margin: 0; margin-bottom: 15px;}

	.container{
		display: flex;
		flex-direction: row;
		align-items: start;
		
		justify-content: space-evenly;
		width: 100%;
		height: 90%;

		.list{
			width: 45%;
			height: 100%;
			background-color: var(--moduleColor);
			padding: 10px;
			border-radius: var(--moduleRadius);
			display: flex;
			flex-direction: column;
			align-items: center;
			overflow-y: scroll;
			::-webkit-scrollbar{
				width: 0px;
			}

			.listItem{
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-around;
				border: 3px solid white;
				border-radius: var(--moduleRadius);
				margin: 5px;
			}
		}
	}
}

.CheckAsign{
	@include pageBasis;
	display: flex;
	flex-direction: column;
	align-items: center;
	scrollbar-width: none;

	.infoContainer{
		background-color: white;
		border-radius: var(--moduleRadius);
		border: 3px solid white;
		width: 50%;
		height: 50%;
		margin-top: 8%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);

		h2{margin: 0;}
	}
}

.ManageSemester{
	@include pageBasis;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	scrollbar-width: none;

	h3{color: tomato;}
	h1, h3{width: 55%;}
}

.UserManagement{
	@include pageBasis;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;

	h1{margin: 0;}

	.searchBar{
		display: flex;
		align-items: center;
		gap: 15px;
	}
}