@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
	--bgColor: white;	
	--moduleColor: #3a0ca3;
	--workAreaColor: #1f0261;
	--borderColor: #4361ee;
	--hlColor: #7209b7;
	--moduleRadius: 15px;
	--shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
	--navBarHeight: calc(70px - 2px);
}

@mixin BasicPage{
	width: calc(85% - 60px);
	padding: 30px;
	background-image: url('./img/fondo.png');
	// background-color: var(--workAreaColor);
	height: calc (100% - var(--navBarHeight));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;

	.purple{color: var(--moduleColor);}

	.searchBar{
		width: calc(100% - 30px);
		padding: 15px 15px;
		border-radius: var(--moduleRadius);
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--hlColor);
		margin-bottom: 20px;
	}
}

@mixin basicListItem{
	margin: 5px 20px;
	padding: 3px 20px;
	width: calc(100% - 80px);
	background-color: var(--hlColor);
	color: white;
	border-radius: var(--moduleRadius);
	display: flex;
	align-items: center;
}

body{
	margin: 0px;
	width: 100vw;
	height: 100vh;
	font-family: "Poppins", sans-serif;
	color: white;
}

.ErrorPage{
	background-color: tomato;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h3{
		margin: 0px;
		transition: all .3s;
		&:hover{
			cursor: pointer;
			transform: scale(1.1);
			text-shadow: var(--shadow);
		}
	}
}

.NavBar{
	color: white;
	background-color: var(--moduleColor);
	width: calc(100vw - 50px);
	height: var(--navBarHeight);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 25px;
	border-bottom: 2px solid white;

	.Buttons{
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.Info{
		display: flex;
		align-items: center;
		gap: 10px;

		img{
			width: 45px;
		}
	}
}

.Login{
	width: 100vw;
	height: 100vh;
	background-color: var(--bgColor);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.loginForm{
		background-color: var(--moduleColor);
		width: 35vw;
		height: 50vh;
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: var(--moduleRadius);
		color: white;
		border: 5px solid var(--borderColor);

		h2{margin: 10px;}
		h1{margin: 10px}
	}
}

.Home{
	height: calc(100vh - 72px);
	width: 100vw;
	display: flex;
	flex-direction: row;
	background-color: var(--bgColor);

	.emptySpace{
		@include BasicPage;
		
		h1{font-size: 100px;}
	}

	.LatPanel{
		width: 15%;
		padding: 30px;
		background-color: white;
		height: calc(100% - var(--navBarHeight));
		display: flex;
		flex-direction: column;
		gap: 20px;
		border-right: 2px solid white; 

		img{
			width: 200px;
			align-self: center
		}
	}

	.Sections{
		@include BasicPage;
		

		.listContainer{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 25px;
			justify-content: center;

			.listItem{
				background-color: var(--moduleColor);
				border: 3px solid white;
				width: 250px;
				height: 250px;
				border-radius: 15px;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: all ease .2s;

				h2{font-size: 40px;}

				&:hover{
					transform: scale(1.1);
					cursor: pointer;
				}
			}
		}
	}

	.Section{
		@include BasicPage;

		.container{
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;

			.listItem{
				height: 70%;
				background-color: var(--moduleColor);
				border: 3px solid white;
				border-radius: 15px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 15px;
				transition: all ease .3s;

				&:hover{
					cursor: pointer;
					transform: scale(1.1);
				}
			}
		}
	}

	.Asignature{
		@include BasicPage;
		h1{margin-bottom: 0; margin-top: 5px;}
		h2{margin: 0; margin-bottom: 15px;}

		.container{
			display: flex;
			flex-direction: row;
			align-items: start;
			
			justify-content: space-evenly;
			width: 100%;
			height: 90%;

			.list{
				width: 45%;
				height: 100%;
				background-color: var(--moduleColor);
				padding: 10px;
				border-radius: var(--moduleRadius);
				display: flex;
				flex-direction: column;
				align-items: center;
				overflow-y: scroll;
				::-webkit-scrollbar{
					width: 0px;
				}

				.listItem{
					width: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-around;
					border: 3px solid white;
					border-radius: var(--moduleRadius);
					margin: 5px;
				}
			}
		}
	}

	.CheckAsign{
		@include BasicPage;

		.infoContainer{
			background-color: var(--moduleColor);
			border-radius: var(--moduleRadius);
			border: 3px solid white;
			width: 50%;
			height: 50%;
			margin-top: 8%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;


			h2{margin: 0;}
		}
	}
}